.modal {
	position: fixed!important;
	top: 0;
	right: 0;
	z-index: 1050;
	width: 560px;
	background-color: #fff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	box-shadow: 0 3px 7px rgba(0,0,0,0.3);
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding-box;
	background-clip: padding-box;
	outline: 0;
}
.modal-header {
	padding: 9px 15px;
	border-bottom: 1px solid #eee;
}
.modal-header h3 {
	margin: 0;
	line-height: 30px;
	display: block;
	font-size: 1.17em;
	font-weight: bold;
}
.modal-body {
	position: relative;
	max-height: 400px;
	padding: 15px;
}
.loading {
	background: url(http://p.www.xiaomi.com/images/loading.gif) no-repeat center 35%;
}
.loading iframe {
	display: none;
}
.modal-body iframe {
	display: block;
	height: 360px;
	width: 100%;
}
.control_btn {
	background-color: #f06332;
	border-radius: 5px;
	box-shadow: none;
	color: #FFF;
	cursor: pointer;
	display: inline-block;
	font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	padding: 0px;
	text-align: center;
	text-decoration: none;
	width: 140px;
	float: right;
	font-weight: bold;
}
